{% extends 'ZimtWebBundle::layout.html.twig' %}

{% block title %}Zimt - User{% endblock %}

{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}

    <h1>Welcome to our website!</h1>
    <h2></h2>

{% endblock %}
