{% extends 'ZimtWebBundle::layout.html.twig' %}

{% block title %}Zimt - Login{% endblock %}

{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}

    <h1>Welcome to our login screen!</h1>

    <div>
    <form action="{{ path('login_check') }}" method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />
	<button type="submit">login</button>
    </form>
    <div>{{ error }}</div>
    </div>
    
{% endblock %}
